<div align="center">
<br>
<br>
<%= form_tag sessions_path, method:"post" do %>
Username: <%=  text_field_tag "user[name]"%>
Password: <%= password_field_tag "user[password]" %>
<%= button_to "Enter", sessions_path, :class => "waves-effect waves-red btn-flat" %>
<% end %><br><br>

<div class="progress #4db6ac teal lighten-2">
    <div class="indeterminate #ff80ab pink accent-1"></div>
</div>
<br>

<%= form_tag '/users/new', method:"get" do %> <br> <br>
<%= button_to "Sign Up", '/users/new', :class => "waves-effect waves-teal btn-flat" %>
<% end %>
</div><br>


<div class="progress #4db6ac teal lighten-2">
    <div class="indeterminate #ff80ab pink accent-1"></div>
</div>
