<h1>Sign In<%= form_tag sessions_path, method:"post" do %>
Name: <%=  text_field_tag "user[name]"%>
Password: <%= password_field_tag "user[password]" %>
<%= submit_tag 'Sign In'%>
<% end %></h1>

<%= form_tag '/users/new', method:"get" do %>
<%= submit_tag "Sign Up" %>
<% end %>
