
    <%= form_for @vacation do |f| %>
    <h2><%= f.label  "Edit Your Vacation here:" %></h2><br>
    <%= f.text_field :name %>
    <%= f.collection_select(:sight_id, Sight.all, :id, :name_and_city, {}, {:class => 'browser-default'})  %><br>
    <div class="row">
      <div class="input-field col s3">

      Start Date:
      <%= f.date_field :start_date %>
    </div>
    </div>
      <div class="row">
        <div class="input-field col s3">

      End Date:
      <%= f.date_field :end_date %>
    </div>
    </div>

    <center><h6><%= f.submit :class => "waves-effect waves-red btn-flat"  %></h6></center>
    <center><h6><%= link_to "Delete Vacation", vacation_path(@vacation), method:"delete"%></h6></center>

    <% end %>
