
    <%= form_for @vacation do |f| %>
    <%= f.label  "Edit Your Vacation here:" %>
    <%= f.text_field :name %>
    <%= f.collection_select(:sight_id, Sight.all, :id, :name_and_city, {}, {:class => 'browser-default'})  %><br>
    <h6><%= f.submit %></h6>
    <% end %>
