<!-- new trip page, create -->
<div class="row"><br><br><br><br><br><br>
  <div class="input-field col s10">


    <%= form_for @vacation do |f| %>
    <%= f.label  "Name Your Vacation here:" %>
    <%= f.text_field :name %>
    <%= f.collection_select(:sight_id, Sight.all, :id, :name_and_city, {}, {:class => 'browser-default'})  %><br>
    <h6><%= f.submit %></h6>
    <% end %>

    <div class="row">
      <div class="input-field col s3"
    <form>
      Start Date:
      <input type="date", :name_and_city>
    </div>
    </div>

      <div class="row">
        <div class="input-field col s3"
      <form>
      End Date:
      <input type="date", name="end_date">
    </form>
    </div>
    </div>
  </div>
</div>
