<!-- new trip page, create -->
<div class="row"><br><br><br><br><br><br>
  <div class="input-field col s10">


    <%= form_for @vacation do |f| %>
    <h2><%= f.label  "Name Your Vacation here:" %></h2><br>
    <%= f.text_field :name %>
    <%= f.collection_select(:sight_id, Sight.all, :id, :name_and_city, {}, {:class => 'browser-default'})  %><br>
        <div class="row">
          <div class="input-field col s3">

          Start Date:
          <%= f.date_field :start_date %>
        </div>
        </div>
          <div class="row">
            <div class="input-field col s3">

          End Date:
          <%= f.date_field :end_date %>

        </div>
        </div>

    <h6><%= f.submit %></h6>
    <% end %>

  </div>
</div>
