<!-- Trip Name  -->
<!-- Destination(City) -->
<!-- start date -->
<!-- end date -->
<!-- submit -->

<!-- once "submit", saves trip name = trip.id -->
<!-- submit takes to sights/new -->

<h2><%= @vacation.name %></h2>
<div><h5>City: <%=@vacation.sight.city %></h5></div>
<div><h5>Sight Name: <%= @vacation.sight.name %></h5></div><br>
<div><h5>Start Date: <%=@vacation.start_date %></h5></div>
<div><h5>End Date: <%=@vacation.end_date %></h5></div><br><br><br><br>

<center><%= button_to "View Your Vacations List", vacations_path , :class => "waves-effect waves-red btn-flat", method: "get" %></center>
<center><%= button_to "Edit Vacation", edit_vacation_path(@vacation), :class => "waves-effect waves-red btn-flat", method: "get" %></center>
